@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground: #171717;
}

.dark {
  --foreground: #ededed;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
